


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

</head>


<body class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 align="center">Matricular Estudiante</h4>
         
        </div>
        <div class="panel-body">
            <form class="col-md-10 col-md-offset-1 form-horizontal " action="/matricula/GuardarEditar" method="post">
                <legend>
                    <h5>Matrícula</h5>
                </legend>
                <input type="hidden" name="ModId" value="@Model.ModId" readonly="true"/>
                <input type="hidden" name="UbigeoFk" value="@Model.UbigeoFk" readonly="true"/>
                
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">NroVoucher    </label>
                    <div class="col-sm-5">
                        <input class="form-control"  type="text" name="NroVoucher"   value="@Model.NroVoucher" readonly="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">Tipo Matrícula</label>
                    <div class="col-sm-10 col-md-offset-3">
                        @if (@Model.TipoMatricula == "Estudiante Nuevo")
                        {
                            <div class="radio">
                                <label>
                                    <input id="1" type="radio" name="TipoMatricula" value="Estudiante Nuevo" checked="checked" />
                                    Estudiante Nuevo
                                </label>
                                <label>
                                    <input id="2" type="radio" name="TipoMatricula" value="Por Examen de Ubicacion" disabled/>
                                    Por Examen de Ubicación
                                </label>
                                <label>
                                    <input id="3" type="radio" name="TipoMatricula" value="Renovacion de Matricula" disabled/>
                                    Renovación de Matrícula
                                </label>
                            </div>

                        }
                        else if (@Model.TipoMatricula == "Por Examen de Ubicacion")
                        {
                            <div class="radio">
                                <label>
                                    <input id="1" type="radio" name="TipoMatricula" value="Estudiante Nuevo" disabled/>
                                    Estudiante Nuevo
                                </label>
                                <label>
                                    <input id="2" type="radio" name="TipoMatricula" value="Por Examen de Ubicacion" checked="checked" />
                                    Por Examen de Ubicación
                                </label>
                                <label>
                                    <input id="3" type="radio" name="TipoMatricula" value="Renovacion de Matricula" disabled/>
                                    Renovación de Matrícula
                                </label>
                            </div>
                        }
                        else if (@Model.TipoMatricula == "Renovacion de Matricula")
                        {
                            <div class="radio">
                                <label>
                                    <input id="1" type="radio" name="TipoMatricula" value="Estudiante Nuevo" disabled/>
                                    Estudiante Nuevo
                                </label>
                                <label>
                                    <input id="2" type="radio" name="TipoMatricula" value="Por Examen de Ubicacion" disabled/>
                                    Por Examen de Ubicación
                                </label>
                                <label>
                                    <input id="3" type="radio" name="TipoMatricula" value="Renovacion de Matricula" checked="checked" />
                                    Renovación de Matrícula
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="radio">
                                <label>
                                    <input id="1" type="radio" name="TipoMatricula" value="Estudiante Nuevo" />
                                    Estudiante Nuevo   
                                </label>
                                <label>
                                    <input id="2" type="radio" name="TipoMatricula" value="Por Examen de Ubicacion" />
                                    Por Examen de Ubicación   
                                </label>
                                <label>
                                    <input id="3" type="radio" name="TipoMatricula" value="Renovacion de Matricula" />
                                    Renovación de Matrícula   
                                </label>
                            </div>

                
                        }
                    </div>
                </div>

                <legend>
                    <h5>Estudiante</h5>
                </legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nro Documento</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" name="NroDocumento" value="@Model.NroDocumento" readonly="true"/>
                    </div>
                    <div class="col-sm-3">
                        @*<button class="btn btn-default btn btn-info" name="Action" value="BuscarEstudiantePorNroDoc">...</button>*@
                        <!-- Button trigger modal -->
                        <button type="button"  class="btn btn-default btn btn-info" id="btnCrearEstudiante" data-toggle="modal" data-target="#myModal" onclick="ClickButtonAgregar()" >Detalle </button>
                    
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Nombres Completo</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="hidden" name="PersonaSeleccionadaId" value="@Model.PersonaSeleccionadaId" readonly="true"/>
                        <input class="form-control"  type="text" id="NombresCompletos" name="NombresCompletos" value="@Model.NombresCompletos" readonly="true"/>

                    </div>
                </div>


                <legend>
                    <h5>Horario</h5>
                </legend>
                <div class="form-group">
                    <label class="col-sm-2  control-label "><b>Nivel</b></label>
                    <label class="col-sm-2  control-label">Ciclo</label>
                    <label class="col-sm-2  control-label">Turno</label>
                    <label class="col-sm-2  control-label">Horario</label>
                </div>

                <div class="form-group">
                    <div class="col-sm-1 col-md-offset-1">
                        <button id="btnNivelChangeId" name="Action" value="ParamBtnNivelChange" hidden="True"></button>
                        <select class="form-control" name="NivelSeleccionadoId" onchange="NivelChange()" style="width: 115px" readonly>
                            @*<option value="0">--Seleccionar--</option>*@
                            @foreach (var item in ViewBag.Niveless)
                            {
                                if (item.Id == @Model.NivelSeleccionadoId)
                                {         
                                <option value="@item.Id"   selected="selected" >@item.Nombre</option>@*                           
                                }
                                else
                                {
                                <option value="@item.Id">@item.Nombre</option>*@
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-offset-1">
                        <button id="btnCicloChangeId" name="Action" value="ParamBtnCicloChange" hidden="True"></button>
                        <select class="form-control" name="CicloSeleccionadoId" onchange="CicloChange()" style="width: 115px" readonly>
                           @* <option value="0">--Seleccionar--</option>*@
                            @if (ViewBag.cicloss != null)
                            {
                                foreach (var item in ViewBag.cicloss)
                                {
                                    if (item.Id == @Model.CicloSeleccionadoId)
                                    {         
                                <option value="@item.Id"   selected="selected" >@item.Nombre</option>@*                           
                                    }
                                    else
                                    {
                                <option value="@item.Id">@item.Nombre</option>*@
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-offset-1">
                        <button id="btnTurnoChangeId" name="Action" value="ParamBtnTurnoChange" hidden="True"></button>
                        <select class="form-control" name="TurnoSeleccionadoId" style="width: 115px" onchange="TurnoChange()" readonly>
                            @if (@Model.TurnoSeleccionadoId == true)
                            {
                                @*<option value="false">Mañana</option>*@
                                <option value="true" selected="selected">Tarde</option>   
                            }
                            else
                            {
                                <option value="false" selected="selected">Mañana</option>
                               @* <option value="true">Tarde</option>   *@  
                            }

                        </select>
                    </div>
                    <div class="col-sm-1 col-md-offset-1">
                        <button id="btnHorarioChangeId" name="Action" value="ParamBtnHorarioChange" hidden="True"></button>
                        <select class="form-control" name="HorarioSeleccionadoId" style="width: 190px" onchange="HorarioChange()" readonly>
                          @*  <option value="0">------- HORARIO -------   </option>*@
                            @if (ViewBag.Horarioss != null)
                            {
                                foreach (var item in ViewBag.Horarioss)
                                {
                                    if (item.Id == @Model.HorarioSeleccionadoId)
                                    {
                                <option value="@item.Id" selected="selected">@item.Dias   @item.HoraIni:00 - @item.HoraFin:00   (@item.Salon)</option>
                                    }
                                    else
                                    {
                               @* <option value="@item.Id" >@item.Dias:   @item.HoraIni:00 - @item.HoraFin:00   (@item.Salon)</option>*@
                                    }

                                }


                            }
                        </select>
                    </div>
                </div>
                <legend>
                    <h5></h5>
                </legend>
                <div class="form-group">
          
                    <div class="col-sm-2 col-md-offset-5">
                       
                        @* <button class="btn btn-danger" id="btnCancelar">CANCELAR</button>*@
                          <a class="btn btn-default btn btn-danger" href="~/matricula/Listar?criterio=" role="button">Atras</a>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Registrar Estudiante</h4>
                            </div>
                            <div class="modal-body">


                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Nombres</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModNombres" value="@Model.ModNombres" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Apellido Paterno</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control   input-sm" name="ModApellidoPaterno" value="@Model.ModApellidoPaterno" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Apellido Materno</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModApellidoMaterno" value="@Model.ModApellidoMaterno" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Nro. Documento</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModNroDocumento" value="@Model.ModNroDocumento" readonly="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label ">Dirección</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm"  name="ModDireccion" value="@Model.ModDireccion" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Celular</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModCelular" value="@Model.ModCelular" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Teléfono</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModTelefono" value="@Model.ModTelefono" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Email</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModEmail" value="@Model.ModEmail" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">FechaNacimiento</label>
                                        <div class="col-sm-8 ">
                                            <input class="form-control"  type="text" name="ModFechaNacimiento" value="@Model.ModFechaNacimiento" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Género</label>
                                        @if (@Model.ModGenero == true)
                                        {
                                            <div class="  col-sm-8 ">
                                                <label class="radio-inline">
                                                    <input type="radio" style="width: 15px; height: 15px;"  name="ModGenero" value="true"  checked="checked" />M                                           
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio"  style="width: 15px; height: 15px;" name="ModGenero" value="false" disabled />F                              
                                                </label>
                                            </div>                                         
                                        }
                                        else if (@Model.ModGenero == false)
                                        {
                                            <div class="  col-sm-8 ">
                                                <label class="radio-inline">
                                                    <input type="radio" style="width: 15px; height: 15px;"  name="ModGenero" value="true" disabled />M                                           
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio"  style="width: 15px; height: 15px;" name="ModGenero" value="false" checked="checked"/>F                              
                                                </label>
                                            </div>                                          
                                        }


                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">País</label>                                                                       
                                        <div class="col-sm-8 " >
                                             <input class="form-control"  type="text" value="@Model.ModPaisSeleccionado" readonly="true"/>
                                           
                                                
                                        </div>

                                        
                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label">Ciudad</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" class="form-control  input-sm" name="ModCiudad" value="@Model.ModCiudad" readonly="true"/>
                                        </div>
                                    </div>


                                    <div />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
                              
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</body>





</html>








