<body class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 align="center">Lista de Ciclos</h4>
        </div>
        <div class="panel-body">
            <form class=" form-horizontal " action="/ciclo/listar">
                <div class="form-group form-horizontal">
                    <label class="col-sm-3 col-md-offset-1 control-label ">Nombre</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="criterioBusqueda" />
                    </div>
                    <button class=" btn btn-default" id="btnGuardar">Buscar</button>

                </div>
                <div class="form-group col-md-12">
                    <table class="table table-hover">
                        <a class="btn btn-primary" href="~/ciclo/crear" role="button">Registrar</a>

                        <thead>
                            <tr>
                                @*<th>Id</th>*@
                                <th>Nivel</th>
                                <th>Ciclo</th>                       
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    @*<td>@item.Id</td>       *@
                                    <td>@item.Nivel.Nombre </td>
                                    <td>@item.Nombre</td>
                                    <td>
                                        <!--<a href="/ciclo/detalle?id=@item.Id">Detalle</a> -->
                                        <a href="/ciclo/editar?id=@item.Id">Editar</a>

                                        @Html.ActionLink("Eliminar", "Eliminar",
                                        new { id = item.Id },
                                  new { onClick = "return confirm('Desea Eliminar al Ciclo " + @item.Nombre + " " + "?');" })
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <nav>

                </nav>

            </form>
</body>